In [87]:
import pandas as pd
import sqlite3


conn = sqlite3.connect("database/db_olist.sqlite")
cursor = conn.cursor()

# Consultas em SQL - Tasks CEO

## Ciclo_1

###  Gere uma tabela com o id do cliente, a cidade e o estado onde ele vive:

In [88]:
cursor.execute(
    """SELECT
  c.customer_id,
  c.customer_city,
  c.customer_state
FROM
  customer c"""
)

rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=["id_cliente", "cidade", "estado"])

display(df)

                             id_cliente                 cidade estado
0      06b8999e2fba1a1fbc88172c00ba8bc7                 franca     SP
1      18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo     SP
2      4e7b3e00288586ebd08712fdd0374a03              sao paulo     SP
3      b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes     SP
4      4f2d8ab171c80ec8364f7c12e35b23ad               campinas     SP
...                                 ...                    ...    ...
99436  17ddf5dd5d51696bb3d7c6291687be6f              sao paulo     SP
99437  e7b71a9017aa05c9a7fd292d714858e8        taboao da serra     SP
99438  5e28dfe12db7fb50a4b2f691faecea5e              fortaleza     CE
99439  56b18e2166679b8a959d72dd06da27f9                 canoas     RS
99440  274fa6071e5e17fe303b9748641082c8                  cotia     SP

[99441 rows x 3 columns]

### Gere uma tabela com o id do cliente e a cidade, somente dos clientes que vivem em Santa Catarina:

In [89]:
cursor.execute(
    """
SELECT
  c.customer_id,
  c.customer_city
FROM
  customer c
WHERE
  c.customer_state = 'SC'
"""
)

rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=["id_cliente", "cidade"])

display(df)

                            id_cliente          cidade
0     879864dab9bc3047522c92c82e1212b8  jaragua do sul
1     154c4ded6991bdfa3cd249d11abf4130   florianopolis
2     b6368ca0f56d4632f44d58ca431487b2        sao jose
3     4d27341acd30a36bca39008ee9bb9050  jaragua do sul
4     443b534d0d27a8aa9a184d4869bcbe7a  jaragua do sul
...                                ...             ...
3632  f1def85ade6e5b754d5f84a958fd48c2   florianopolis
3633  36cf561d6c23f010a6944f0908ee6bdc         cacador
3634  61999ea0577a957d34dfa9728c1ba783           seara
3635  69f774928b3541289743181082f07ea7         sombrio
3636  ec126b0b2593214b75ec14893b15d9e5           mafra

[3637 rows x 2 columns]

### Gere uma tabela com o id do cliente e o estado, somente dos clientes que vivem em Florianópolis:

In [90]:
cursor.execute(
    """
SELECT
  c.customer_id,
  c.customer_state
FROM
  customer c
WHERE
  c.customer_city = 'florianopolis'
"""
)

rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=["id_cliente", "estado"])

display(df)

                           id_cliente estado
0    154c4ded6991bdfa3cd249d11abf4130     SC
1    2173c184771a8a19f6fc87d8b3dea9e0     SC
2    02f615f19af07c54a0d4653308f6674b     SC
3    151260cb5d9b3c220d0af50c81c329a9     SC
4    d494b02fb3835e2d398d44ea7f275bce     SC
..                                ...    ...
565  be2b84f5d9486064e0163c4c966b30d8     SC
566  0f8578d7df4151708dbebbd72050ce3c     SC
567  16f656f511e27cc3fbf91cbc28c415d3     SC
568  3e16ea28d6bd7480ea19cd0d7c248f51     SC
569  f1def85ade6e5b754d5f84a958fd48c2     SC

[570 rows x 2 columns]

### Gere uma tabela com o estado, latitude e longitude do estado de São Paulo:

In [91]:
cursor.execute(
    """
SELECT
  g.geolocation_lat,
  g.geolocation_lng,
  g.geolocation_state
FROM
  geolocation g
WHERE
  g.geolocation_state = 'SP'
"""
)

rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=["latitude", "longitude", "estado"])

display(df)

         latitude  longitude estado
0      -23.545621 -46.639292     SP
1      -23.546081 -46.644820     SP
2      -23.546129 -46.642951     SP
3      -23.544392 -46.639499     SP
4      -23.541578 -46.641607     SP
...           ...        ...    ...
404263 -22.779062 -50.218287     SP
404264 -22.997601 -49.885928     SP
404265 -22.978498 -49.875919     SP
404266 -22.993127 -49.887665     SP
404267 -22.972685 -49.864647     SP

[404268 rows x 3 columns]

### Gere uma tabela com o id do produto, a data de envio e o preço, somente para produtos acima de 6300

In [92]:
cursor.execute(
    """
SELECT
  oi.order_id,
  oi.shipping_limit_date,
  oi.price
FROM
  order_items oi
WHERE
  oi.price > 6300
"""
)

rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=["id_pedido", "dt_envio", "preço"])

display(df)

                          id_pedido             dt_envio   preço
0  0812eb902a67711a1cb742b3cdaa65ae  2017-02-16 20:37:36  6735.0
1  f5136e38d1a14a4dbd87dff67da82701  2017-06-15 02:45:17  6499.0
2  fefacc66af859508bf1a7934eab1e97f  2018-08-02 04:05:13  6729.0

###  Gere uma tabela com o id do pedido, o tipo de pagamento e o número de parcelas, somente para produtos com parcelas menores que 1

In [93]:
cursor.execute(
    """
SELECT
  op.order_id,
  op.payment_type,
  op.payment_installments
FROM
  order_payments op
WHERE
  op.payment_installments < 1
"""
)

rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=["id_pedido", "tipo_pagamento", "parcelas"])

display(df)

                          id_pedido tipo_pagamento  parcelas
0  744bade1fcf9ff3f31d860ace076d422    credit_card         0
1  1a57108394169c0b47d8f876acc9ba2d    credit_card         0

### Gere uma tabela com o id do pedido, id do cliente, o status do pedido e a data de aprovação , somente para compras aprovadas até dia 20 de Maio de 2016

In [94]:
cursor.execute(
    """
SELECT
  o.order_id,
  o.customer_id,
  o.order_status,
  o.order_approved_at
FROM
  orders o
WHERE
  o.order_approved_at < "2016-20-05"
"""
)

rows = cursor.fetchall()

df = pd.DataFrame(rows, columns=["id_pedido", "id_cliente", "status_pedido", "pedido_aprovado_dt"])

display(df)

,id_pedido,id_cliente,status_pedido,pedido_aprovado_dt
0,d3c8851a6651eeff2f73b0e011ac45d0,957f8e082185574de25992dc659ebbc0,processing,2016-10-06 15:51:05
1,cbbb524a0e1646aa6cf7a3c0bbe517ad,dacb079d55ffb1d3955c5d923df3ebb7,delivered,2016-10-06 02:46:24
2,ac2b7c522d811acba0aa270ed3e112e4,ef21aebbb093a6db29ccc6aa0b89c347,delivered,2016-10-06 15:44:26
3,7033745709b7cf1bac7d2533663592de,7f0ca17bb33b230b47459437cf0682c7,delivered,2016-10-04 14:46:48
4,5cd498954e2b37d71b315166809b4bd7,ff1a56726b7ea149c7423865609cc0c8,delivered,2016-10-08 03:56:15
...,...,...,...,...
317,6e0d2539e48e84296bae6290de41058c,1fc56719b52f82c03caddc5faf531fbb,delivered,2016-10-06 15:51:37
318,9d664ec86be69d869bb6870294c4fdd8,0a9ee4d9030acbe428769c79d0c4da69,delivered,2016-10-08 19:55:50
319,7e2dddf174cc4d2768bf39c43ab2bd7a,accfbaa1f092fdf6db1d8fcdad351b50,delivered,2016-10-10 05:54:51
320,e439ced3d48f1a77f6ecc029cc946a6f,e9c6723e04c4e53e7e9c3afe383f3866,delivered,2016-10-07 22:59:53
321,509a52223ecac6d67fb765b3b37c6974,efc07f50d0a9346ec00e1c37b5b10748,delivered,2016-10-06 18:50:35

## Ciclo_02

### Qual o número de clientes únicos do estado de Minas Gerais?

In [95]:
cursor.execute(
  """
  SELECT
    COUNT(DISTINCT customer_id) AS qt_clientes_unicos
  FROM
    customer c
  WHERE
    customer_state = 'MG'
  """
)

rows = cursor.fetchall()

value = rows[0][0]

print(f'A quantidade de clientes únicos em MG é: {value}')

A quantidade de clientes únicos em MG é: 11635

### Qual a quantidade de cidades únicas dos vendedores do estado de Santa Catarina?

In [96]:
cursor.execute(
  """
  SELECT
    COUNT(DISTINCT s.seller_city)
  FROM
    sellers s
  WHERE
    s.seller_state = "SC"
  """
)

rows = cursor.fetchall()

value = rows[0][0]

print(f'A quantidade de cidades únicas dos vendedores em SC é: {value}')

A quantidade de cidades únicas dos vendedores em SC é: 65

### Qual a quantidade de cidades únicas de todos os vendedores da base?

In [97]:
cursor.execute(
  """
  SELECT
    COUNT(DISTINCT s.seller_city)
  FROM
    sellers s
  """
)

rows = cursor.fetchall()

value = rows[0][0]

print(f'A quantidade de cidades únicas dos vendedores é: {value}')

A quantidade de cidades únicas dos vendedores é: 611

### Qual o número total de pedidos únicos acima de R$ 3.500

In [98]:
cursor.execute(
  """
  SELECT
    COUNT(DISTINCT oi.order_id)
  FROM
    order_items oi
  WHERE
    oi.price > 3500
  """
)

rows = cursor.fetchall()

value = rows[0][0]

print(f'Total de pedidos únicos acima de R$ 3.500,00 é: {value}')

Total de pedidos únicos acima de R$ 3.500,00 é: 18

### Qual o valor médio do preço de todos os pedidos?

In [99]:
cursor.execute(
  """
  SELECT
    AVG(oi.price)
  FROM
    order_items oi
  """
)

rows = cursor.fetchall()

value = round(rows[0][0], 2)

print(f'O valor médio é: {value}')

O valor médio é: 120.65

### Qual o menor e o maior valor de preço entre todos os pedidos?

In [100]:
min_value = cursor.execute(
  """
  SELECT
    MIN(oi.price)
  FROM
    order_items oi
  """
)

rows = min.fetchall()
value = rows[0][0]
print(f'O menor preço é: {value}')

max_value = cursor.execute(
  """
  SELECT
    MAX(oi.price)
  FROM
    order_items oi
  """
)

rows = max.fetchall()
value = rows[0][0]
print(f'O menor preço é: {value}')

IndexError: list index out of range

### Qual a quantidade de produtos distintos vendidos abaixo do preço de R$ 100.00?

In [ ]:
cursor.execute(
  """
  SELECT
    COUNT(DISTINCT oi.product_id)
  FROM
    order_items oi
  WHERE oi.price < 100
  """
)

rows = cursor.fetchall()

value = rows[0][0]

print(f'Quantidade de produtos distintos abaixo dos R$ 100,00: {value}')

Quantidade de produtos distintos abaixo dos R$ 100,00: 20112

### Qual a quantidade de vendedores distintos que receberam algum pedido antes do dia 23 de setembro de 2016?

In [ ]:
cursor.execute(
  """
  SELECT
    COUNT(DISTINCT oi.seller_id)
  FROM
    order_items oi
  WHERE oi.shipping_limit_date < "2016-09-23"
  """
)

rows = cursor.fetchall()

value = rows[0][0]

print(f'{value} vendedores')

2 vendedores

### Quais os tipos de pagamentos existentes?

In [ ]:
cursor.execute(
    """
    SELECT DISTINCT
      op.payment_type
    FROM
      order_payments op
    """
)

rows = cursor.fetchall()

rows_list = [row[0] for row in rows]

print(', '.join(rows_list))

credit_card, boleto, voucher, debit_card, not_defined

### Qual o maior e o menor número de parcelas realizado?

In [104]:
max_installments = cursor.execute(
  """
  SELECT
    MAX(op.payment_installments)
  FROM
    order_payments op
  """
)

rows = max_installments.fetchall()
value = rows[0][0]
print(f'{value} é o número da maior da quantidade de parcela')

min_installments = cursor.execute(
  """
  SELECT
    MIN(op.payment_installments)
  FROM
    order_payments op
  """
)

rows = min_installments.fetchall()
value = rows[0][0]
print(f'{value} é o número de menor da quantidade de parcela')

24 é o número da maior da quantidade de parcela
0 é o número de menor da quantidade de parcela