In [1]:
import pandas as pd
import sqlite3


conn = sqlite3.connect("database/db_olist.sqlite")
cursor = conn.cursor()

C:\Users\caiof\AppData\Local\Temp\ipykernel_69556\913944558.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

###  Gere uma tabela com o id do cliente, a cidade e o estado onde ele vive:

In [2]:
cursor.execute(
    """SELECT
  c.customer_id,
  c.customer_city,
  c.customer_state
FROM
  customer c"""
)


# Obtenha todas as linhas do resultado
rows = cursor.fetchall()

# Crie um DataFrame a partir das linhas sem index
df = pd.DataFrame(rows, columns=["ID do Cliente", "Cidade", "Estado"])

# Exiba o DataFrame
display(df)

                          ID do Cliente                 Cidade Estado
0      06b8999e2fba1a1fbc88172c00ba8bc7                 franca     SP
1      18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo     SP
2      4e7b3e00288586ebd08712fdd0374a03              sao paulo     SP
3      b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes     SP
4      4f2d8ab171c80ec8364f7c12e35b23ad               campinas     SP
...                                 ...                    ...    ...
99436  17ddf5dd5d51696bb3d7c6291687be6f              sao paulo     SP
99437  e7b71a9017aa05c9a7fd292d714858e8        taboao da serra     SP
99438  5e28dfe12db7fb50a4b2f691faecea5e              fortaleza     CE
99439  56b18e2166679b8a959d72dd06da27f9                 canoas     RS
99440  274fa6071e5e17fe303b9748641082c8                  cotia     SP

[99441 rows x 3 columns]

### Gere uma tabela com o id do cliente e a cidade, somente dos clientes que vivem em Santa Catarina:

In [3]:
cursor.execute(
    """
SELECT
  c.customer_id,
  c.customer_city
FROM
  customer c
WHERE
  c.customer_state = 'SC'
"""
)


# Obtenha todas as linhas do resultado
rows = cursor.fetchall()

# Crie um DataFrame a partir das linhas sem index
df = pd.DataFrame(rows, columns=["ID do Cliente", "Cidade"])

# Exiba o DataFrame
display(df)

                         ID do Cliente          Cidade
0     879864dab9bc3047522c92c82e1212b8  jaragua do sul
1     154c4ded6991bdfa3cd249d11abf4130   florianopolis
2     b6368ca0f56d4632f44d58ca431487b2        sao jose
3     4d27341acd30a36bca39008ee9bb9050  jaragua do sul
4     443b534d0d27a8aa9a184d4869bcbe7a  jaragua do sul
...                                ...             ...
3632  f1def85ade6e5b754d5f84a958fd48c2   florianopolis
3633  36cf561d6c23f010a6944f0908ee6bdc         cacador
3634  61999ea0577a957d34dfa9728c1ba783           seara
3635  69f774928b3541289743181082f07ea7         sombrio
3636  ec126b0b2593214b75ec14893b15d9e5           mafra

[3637 rows x 2 columns]

### Gere uma tabela com o id do cliente e o estado, somente dos clientes que vivem em Florianópolis:

In [4]:
cursor.execute(
    """
SELECT
  c.customer_id,
  c.customer_state
FROM
  customer c
WHERE
  c.customer_city = 'florianopolis'
"""
)

# Obtenha todas as linhas do resultado
rows = cursor.fetchall()

# Crie um DataFrame a partir das linhas sem index
df = pd.DataFrame(rows, columns=["ID do Cliente", "Estado"])

# Exiba o DataFrame
display(df)

                        ID do Cliente Estado
0    154c4ded6991bdfa3cd249d11abf4130     SC
1    2173c184771a8a19f6fc87d8b3dea9e0     SC
2    02f615f19af07c54a0d4653308f6674b     SC
3    151260cb5d9b3c220d0af50c81c329a9     SC
4    d494b02fb3835e2d398d44ea7f275bce     SC
..                                ...    ...
565  be2b84f5d9486064e0163c4c966b30d8     SC
566  0f8578d7df4151708dbebbd72050ce3c     SC
567  16f656f511e27cc3fbf91cbc28c415d3     SC
568  3e16ea28d6bd7480ea19cd0d7c248f51     SC
569  f1def85ade6e5b754d5f84a958fd48c2     SC

[570 rows x 2 columns]

### Gere uma tabela com o estado, latitude e longitude do estado de Sã Paulo: